<div class="d-flex align-items-center justify-content-center vh-100">
  <div class="row w-100">
    <div class="col"></div>
    <div class="col-12 col-md-8 col-lg-6 col-xl-4">
      <div class="card">
        <div class="card-header bg-light">
          <h2><%= defined?(form_title) ? form_title : "Form" %></h2>
        </div>
        <div class="card-body">
